/* Base styles for the footer */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  width: 100%;
  height: 84px;
}

.copyright {
  flex: 1;
}

.icons {
  display: flex;
  gap: 10px; /* Space between icons */
}

.icons img {
  width: 30px;
}
.footer p {
  font-size: 12px;
}

@media screen and (max-width: 480px) {
  .footer {
    flex-direction: column-reverse;
    padding-left: 0;
    padding-right: 0;
  }

  .footer .copyright {
    font-size: 8px;
  }
  .footer p {
    font-size: 8px;
  }
  .footer .icons img {
    width: 25px;
  }
}

@media screen and (max-width: 380px) {
  .footer .copyright {
    font-size: 8px;
  }
  .footer .icons img {
    width: 20px;
  }

  .footer p {
    font-size: 8px;
  }
}
