@font-face {
  font-family: "icomoon";
  src: url("fonts/icomoon.eot?90hd6d");
  src: url("fonts/icomoon.eot?90hd6d#iefix") format("embedded-opentype"),
    url("fonts/icomoon.ttf?90hd6d") format("truetype"),
    url("fonts/icomoon.woff?90hd6d") format("woff"),
    url("fonts/icomoon.svg?90hd6d#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chevron-thin-down:before {
  content: "\e902";
}
.icon-chevron-thin-up:before {
  content: "\e909";
}
.icon-chevron-up:before {
  content: "\f077";
}
.icon-star:before {
  content: "\e901";
}
.icon-whatsapp1:before {
  content: "\e900";
  color: #25d366;
}
.icon-circle-left:before {
  content: "\ea44";
  color: #e9bd2524;
}
