nav a {
  font-family: "Alexandria", sans-serif;
  font-weight: 400;
  font-size: 18px;
  display: flex;
  align-items: center;
  text-align: center;
}
.menu-overlay {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.menu-overlay.open {
  opacity: 1;
  visibility: visible;
}

.menu-content {
  transform: scale(0.95);
  transition: transform 0.3s ease;
}

.menu-content.open {
  transform: scale(1);
}
